version: '2.2'

services:
  prometheus:
    image: prom/prometheus:v2.29.2
    restart: always
    networks:
      - monitoring
    ports: 
      - "{{ prometheus_external_port }}:{{ prometheus_port }}"
    volumes:
      - "{{ prometheus_etc_path }}:/etc/prometheus"
    user: "{{ monitoring_uid }}:{{ monitoring_uid }}"
    mem_limit: "500m"
    cpus: "1"

  alertmanager:
    image: prom/alertmanager:v0.22.2
    restart: always
    networks:
      - monitoring
    user: "{{ monitoring_uid }}:{{ monitoring_uid }}"
    mem_limit: "300m"
    cpus: "1"
    depends_on: [ prometheus ]
    
  grafana:
    image: grafana/grafana:8.1.5
    restart: always
    networks:
      - monitoring
    ports: 
      - "{{ grafana_external_port }}:3000"
    volumes:
      - {{ grafana_etc_path }}:/etc/grafana
      - {{ grafana_provisioning_path }}:/etc/grafana/provisioning
      - {{ grafana_lib_path }}:/var/lib/grafana
      - {{ grafana_log_path }}:/var/log/grafana
    user: "{{ monitoring_uid }}:{{ monitoring_uid }}"
    mem_limit: "500m"
    cpus: "1"
    depends_on: [ prometheus ]

networks:
  monitoring:
    ipam:
      config:
        - subnet: {{ docker_subnet }}
          gateway: {{ docker_gateway }}
