
- name: create user
  ansible.builtin.user:
    name: "{{ monitoring_user }}"
    uid: "{{ monitoring_uid }}"
    group: "{{ monitoring_group }}"
    home: "{{ monitoring_path }}"
    shell: "/bin/bash"

- name: create directory structure
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ monitoring_user }}"
    group: "{{ monitoring_group }}"
  with_items:
    - "{{ prometheus_path }}"
    - "{{ prometheus_etc_path }}"

    - "{{ grafana_path }}"
    - "{{ grafana_etc_path }}"
    - "{{ grafana_provisioning_path }}"
    - "{{ grafana_provisioning_path }}/datasources"
    - "{{ grafana_provisioning_path }}/dashboards"
    - "{{ grafana_lib_path }}"
    - "{{ grafana_log_path }}"

    - "{{ alertmanager_path }}"
    - "{{ alertmanager_etc_path }}"

- name: template prometheus configs
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ monitoring_user }}"
    group: "{{ monitoring_group }}"
  with_items:
    - {src: "prometheus.yml", dest: "{{ prometheus_etc_path }}"}
    - {src: "alerts.yml", dest: "{{ prometheus_etc_path }}"}

- name: generate password for grafana
  set_fact:
    grafana_admin_password: "{{ lookup('password', '/dev/null chars=ascii_lowercase,ascii_uppercase,digits length=8') }}"

- name: template grafana configs
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ monitoring_user }}"
    group: "{{ monitoring_group }}"
  with_items:
    - {src: "grafana.ini", dest: "{{ grafana_etc_path }}"}

- name: template grafana configs
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ monitoring_user }}"
    group: "{{ monitoring_group }}"
  with_items:
    - {src: "provisioning/prometheus.yaml", dest: "{{ grafana_provisioning_path }}/datasources"}
    - {src: "provisioning/dashboards.yaml", dest: "{{ grafana_provisioning_path }}/dashboards"}

- name: sync dashboards
  ansible.posix.synchronize:
    src: "dashboards/"
    dest: "{{ grafana_lib_path }}/dashboards"
    recursive: true

- name: set permissions
  ansible.builtin.file:
    path: "{{ grafana_lib_path }}/dashboards"
    state: directory
    owner: "{{ monitoring_user }}"
    group: "{{ monitoring_group }}"

- name: template alertmanager configs
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ monitoring_user }}"
    group: "{{ monitoring_group }}"
  with_items:
    - {src: "alertmanager.yml", dest: "{{ alertmanager_etc_path }}"}

- name: template docker-compose.yml
  ansible.builtin.template:
    src: docker-compose.yml
    dest: "{{ monitoring_path }}/"
    owner: "{{ monitoring_user }}"
    group: "{{ monitoring_group }}"

- name: start server
  community.docker.docker_compose:
    project_src: "{{ monitoring_path }}"
  notify:
    - show_password
